@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
}
.show{
    display:inline-flexbox;
}
.hidden{
    display:none;
}

.copyleft {
    display:inline-block;
    transform: rotate(180deg);
  }

   .nav-link:hover {
    
    background:#9C5FE6;
    padding: 4px 0;
    
}

.nav-link:link{
    color:#fff;
    font-size: 120%;
    font-weight:bold;
}



.nav-link:active{
    font-weight: bold;
    color: #fff;

}

h2{
    font-weight: bold;

}


#button{
    background-image: linear-gradient(to right, #6C42FC , #E64789);
    border: 0px;
    width: 100%;
    color: #fff;
    border-radius: 5px;
    font-weight:bolder;
    
}


.size{
    display: table-row;
    grid: col-xs-6;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #FFE0ED;
    color: #472AA3;
  }

.clear{
    clear: both;
}
.p{
    text-indent: 30px;
   
}
.div{
    width: 600px;
    height: 800px;
    padding-left: 30px;
    text-align: justify;
    padding-top: 50px;
}
h3{
    color: #472AA3;
    font-weight: 800;
    padding-left: 30px;
    padding-bottom: 30px;
}

a:hover{
    background:#9C5FE6;
    padding: 4px 0;
    color: #fff;
    text-decoration: none;
}