@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

body{
    font-family: 'Palette Mosaic', cursive !important;

}
.show{
    display:inline-flexbox;
}
.hidden{
    display:none;
}
