<%- contentFor( 'body') %>

<div>
    <h3 style="padding-top: 30px;">Informações adicionais</h3>
    <div class="p" style="color:#472AA3 ; ">
    <p><span style="font-weight: 800;">Aluno:</span> Caio Vinicius Bezerra Abreu. </p>
    <p><span style="font-weight: 800;">Cadeira:</span> Autoração Multimídia II.</p>
    <p><span style="font-weight: 800;">Professores responsáveis:</span> Wellington Wagner Ferreira Sarmento e Henrique Sérgio Lima Pequeno.</p>
    <p><span style="font-weight: 800;">Instituição de ensino:</span> Universidade Federal do Ceará.</p>
    <p>O código desta aplicação está sob licença.  <a href="https://github.com/cabreu19/first_app/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">Gnu Public License version 3.0</a></p>
    <p>O código desta aplicação encontra-se no endereço. <a href="https://github.com/cabreu19/first_app" target="_blank" rel="noopener noreferrer">https://github.com/cabreu19/first_app</a></p>
    <p><span style="font-weight: 800;">Trabalho baseado no código do professor Wellington:</span><a href="https://github.com/wwagner33/first-app2" target="_blank" rel="noopener noreferrer">https://github.com/wwagner33/first-app2</a></p>
    <p>O código do Jair Ferreira ajudou a entender um pouco mais sobre o que foi pedido.
    </p>
    <p><span style="font-weight: 800;">Link do Github do Jair:</span><a href="https://github.com/estigiox/Trab-I-AMII" target="_blank" rel="noopener noreferrer">https://github.com/estigiox/Trab-I-AMII</a></p>
</div></div>