<%- contentFor( 'body') %>

<div class="jumbotron">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat varius erat faucibus eleifend. Curabitur scelerisque elit sit amet ante maximus, et pulvinar risus luctus. Fusce quis sapien sem. Duis quis metus nunc. Donec dignissim velit a augue sagittis, id varius ligula luctus. Nulla faucibus bibendum ex a ornare. </p>
</div>