<%- contentFor( 'body') %>

<div class="div" style="top: auto; left: auto;">
    <h3>Explicação sobre o trabalho</h3>
    <p class="p">O presente trabalho tem como objetivo avaliar as habilidades práticas e teóricas dos alunos da disciplina de Autoração Multimídia II. 
        Esta aplicação busca auxiliar alunos e interessados que queiram criar sua primeira aplicação Web utilizando a tecnologia Node.js.</p>
  
    <p  class="p">Criar um repositório no Github para armazenar a aplicação que será conduzida em sala de aula Criar uma aplicação para web usando Node.js, 
        Express e EJS que permita o gerenciamento de cadastros de pessoas Todas as partes da aplicação serão iniciadas em sala de aula e finalizadas
        em casa Ao final da aplicação, um arquivo PDF com o link para o GitHub da aplicação deve ser submetido não Portfólio do Sola A aplicação 
        deve ser iniciada no dia 30/07 e finalizada no dia 09/08. Serão quatro aulas onde iremos conduzir o desenvolvimento, deixando a finalização do
        que for produzido para ser feito em casa por cada aluno Nos slides da aula, presentes no material e apoio do Solar com o nome Node.js&Express&EJS.pdf, 
        constarão cada parte da aplicação, os conceitos e o que se quer que faça em casa Partes da aplicação: CRUD de usuários, Formulário de Cadastro, 
        Upload de Fotos do Cadastro
</div>
<div style="position:absolute; top: 30%; left: 50%; ;" >
    <img src="https://image.freepik.com/vetores-gratis/desenvolvimento-web-engenharia-de-programador-e-site-de-codificacao-em-telas-de-interface-de-realidade-aumentada-desenvolvedor-de-projeto-engenheiro-de-programacao-de-software-ou-design-de-aplicativo-cartoon-illustration_107791-3863.jpg"style="width: 105%;" >
    <div class="clear"></div>
</div>